
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

 .container {
  border: 3px solid black;
  text-align: center;
  position: absolute;
  width: 600px;
  height: 600px;

  display: inline-block;
}

header {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  padding-top: 20px;
  padding-bottom: 20px;

}
.form-container {
  padding-top: 10px;
}


label {
  display: block;
}

input {
  display: inline-block;
}

#last {
  display: inline;
}

#first {
  display: inline;
}
